*.aux
*.log
*.out
.vscode/*
*.DS_Store*
*__pycache__*
*egg-info
depth_images
high_res_images
instance_masks
augmented_traj_data.json
tars/alfred/data/json_*
tars/alfred/exp/*
tars/moca/exp/*
commands.txt
ROUGH.py
